<div class="container-fluid services-list-wrapper" id="about">
    <h1>Get Notified For</h1>
    <div class="service-list container row">
        <div class="list-item col-xsm-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image">
                <img src="../../assets/icons/schedule.png" alt="">
            </div>
            <div class="caption">
                Vaccine Slot
            </div>
        </div>

        <div class="list-item col-xsm-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image">
                <img src="../../assets/icons/bed.png" alt="">
            </div>
            <div class="caption">
                Covid Bed
            </div>
        </div>

        <div class="list-item col-xsm-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image">
                <img src="../../assets/icons/message.png" alt="">
            </div>
            <div class="caption">
                SMS Message
            </div>
        </div>
    </div>
    <a routerLink="/subscribe" routerLinkActive="active">
        <button class="btn btn-warning btn-lg">Subscribe Now For Free </button>
       </a>
</div>


<div class="container-fluid service-wrapper">
    <h1>About</h1>
<div class="service">
    <div class="img-wrapper">
        <img src="../../assets/img/service3.png" alt="">
    </div>
    <div class="text-wrapper">
        <div>
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without
            special treatment.
            HOW IT SPREADS
            The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person
            coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or
            surfaces.
            You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19,
            or by touching a contaminated surface and then your eyes, nose or mouth.

            <ul>
                <li>Instant Notification</li>
                <li>Whatsapp message</li>
                <li>Vaccine Slot Alerts</li>
            </ul>
        </div>

    </div>
</div>
</div>


